div {
    font-family: arial, sans-serif;
}

.div_right {
    padding: 0 12px;
    float: right;
}

#search-container {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 212px;
    padding-bottom: 20px;
}

.rounded-textbox {
    border-radius: 20px;/* Adjust the border-radius for the desired rounded corner effect */
    width: calc(100% - 65px);
    max-width: 585px;
    padding: 12px 20px 12px 40px;
    margin: 8px 0;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

form {
    text-align: center;
    width: auto;
    line-height: 32px;
    padding: 20px 10px;
}


img {
    width: 100%;
    max-width: 20%;
}

header {
    padding: 15px 0;
    text-align: left;
}

header img {
    max-width: 100px;
    height: auto;
}

.formleft {
    width: auto;
    max-width: fit-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    text-align: left;
}

label {
    height: 25px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    clear: both;
    float: left;
    margin-right: 30px;
    font-size: 13px;
}

input {
    height: 25px;
    width: 554px;
    margin-top: 10px;
    float: none;
    border: 1px solid #d9d9d9;
}

h3 {
    color: #d93025;
    padding: 15px;
}

.formleft .div_right {
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    max-width: fit-content;
    height: 30px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    border-radius: 4px;
}

.buttons {
    width: auto;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}